* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 20px;
    border: 1px solid red;
}

.row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid yellow;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    border: 1px solid violet;
}