* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
}

#app {
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.flags {
    max-width: 20px;
}